@charset "UTF-8";

.formtable {
	width : 600px;
	border : 1px solid blue;
	margin : 50px;
	padding : 10px;
}

.label {
	text-align : right;
	vertical-align : top;
}

.control {
	margin-left : 10px;
}

.error {
	font-size : small;
	color : red;
	margin-left : 10px;
}

textarea {
	width : 300px;
	height : 100px;
}

input[type=text] {
	width : 300px;
	border-width : 1px;
	padding : 2px;
}

input[type=submit] {
	display : block;
	width : 50%;
	margin : 0 auto;
}

input[type=submit]:hover {
	background-color : blue;
}